@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

$background: #282C34;
$background-bis: #1b2b34;
$keyword: #ec5f67;
$keyword-bis: #e78a4e;
$import: #d16d92;
$attribute: #d8a657;
$string: #a9b665;
$variable-param: #62b3b2;
$variable: #6699cc;
$text: #ffffff;


* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
    //color: $text;
    box-sizing: border-box;
    font-size: 1.15em;
}

html, body {
    width: 100vw;
    height: 100vh;
}

html, body {
    overflow: hidden;
}

#size-compute {
    width: fit-content;
    height: 0;
    overflow: hidden;
}

#terminal {
    * {
        word-break: break-word;
    }
    width: 100%;
    height: 100%;
    padding: 0 0.5ch 0.5ch 0.5ch;
    overflow-y: auto;
}

#input {
    all: unset;
    color: transparent;
    word-break: break-all;
    width: fit-content;
    caret-shape: block;
    caret-color: #62b3b2;
    text-align: end;
    padding: 0;
    margin: 0;

    transform: rotateZ(180deg);
}

#commands-input {
    display: inline-flex;
}

#command {
    width: fit-content;
}

label[for=input] {
    width: 100%;
}

#display {
    .bold-text { font-weight: bold; }
    .italic-text { font-style: italic; }
    .inline { display: inline; }


    img, video {
        max-width: 90vw;
        max-height: 80vh;
        &.small { max-width: 10vw }
        &.medium { max-width: 35vw }
        &.large { max-width: 70vw }
        &.rounded { border-radius: 9999px }
    }

    a { color: $import }

    span {
        &.center, &.evenly {
            text-align: center;
            margin: 1ch 0;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            max-width: 100%;
            gap: 1ch
        }

        &.center { justify-content: center }
        &.evenly { justify-content: space-evenly }

        * {
            display: inline;
        }
    }
}

// Background styles
.background { background: $background; }
.background-bis { background: $background-bis; }

// Text styles
.keyword { color: $keyword; }
.keyword-bis { color: $keyword-bis; }
.keyword-bis { color: $keyword-bis; }
.import { color: $import; }
.attribute { color: $attribute; }
.text { color: $text; }
.variable { color: $variable; }
.variable-param { color: $variable-param; }